extends layout

block content
  //- Navbar
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar' aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand Appointer
      #navbar.navbar-collapse.collapse
        p.nav.navbar-text Hello, #{user.username}!
        ul.nav.navbar-nav.navbar-right
          li: a(href=baseurl+'/logout') Logout
  
  .body(ng-app='appointer', ng-controller='MainCtrl')
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li
              a(href=baseurl+'/dashboard') My Calendars
              ul
                li(ng-repeat='calendar in calendars')
                  a(href=baseurl+'/dashboard/{{ calendar.url }}') {{ calendar.title }}
                li: a(href='#', data-toggle='modal', data-target='#new-calendar-modal') + New...
            li: a(href=baseurl+'/dashboard/settings') Settings
        
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          div(ng-view)

    #new-calendar-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4 New Calendar: Step 
              span {{ step }} 
              span.text-muted of 3
          .modal-body
            
            .form-horizontal.step-one
              .form-group
                label.col-sm-2.control-label Title
                .col-sm-10
                  input.form-control(placeholder='My Awesome Calendar', ng-model='form.title')
              .form-group
                label.col-sm-2.control-label Description
                .col-sm-10
                  textarea.form-control(placeholder='Describe your calendar here...', ng-model='form.description')
              .form-group
                label.col-sm-2.control-label URL
                .col-sm-8
                  input.form-control(placeholder='my-awesome-calendar', ng-model='form.url', ng-change='checkUrl()')
                .col-sm-2.status(ng-init='status = ""') {{ urlStatus }}

            .form-horizontal.step-two
              .form-group
                label.col-sm-2.control-label Duration
                .col-sm-8
                  select.form-control(ng-model='form.duration') Duration
                    option(value='15', selected) 15 Minutes
                    option(value='30') 30 Minutes
                    option(value='45') 45 Minutes
                    option(value='60') 1 Hour
                    option(value='75') 1 Hour 15 Minutes
                    option(value='90') 1 Hour 30 Minutes
                    option(value='105') 1 Hour 40 Minutes
                    option(value='120') 2 Hours
              .form-group
                label.col-sm-2.control-label Start Date
                .col-sm-8
                  input.form-control(type='date', ng-model='form.start', placeholder='YYYY-MM-DD')
              .form-group
                label.col-sm-2.control-label End Date
                .col-sm-8
                  input.form-control(type='date', ng-model='form.end', placeholder='YYYY-MM-DD')

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal', ng-click='restartForm()') Cancel
            button.step-two.btn.btn-primary(type='button', ng-click='back()') Back
            button.btn.btn-primary(type='button', ng-click='next()') Next

block js
  script.
    $("input[type='date']").datepicker({
      format: 'yyyy-mm-dd'
    });