extends layout

block content
  .jumbotron.home-banner
    .container
      .row
        .col-md-6.col-md-offset-6.text-right
          h1= title
          p Appointment management app that simplifies your day. Putting the focus back where it belongs: your appointment.
          p
            a.btn.btn-default(href=baseurl+"sso-login") Login
            |  or 
            button#how-it-works.btn.btn-primary See how it works

  section#benefit
    .container
      .row
        .col-md-4.text-center
          img.img-responsive.center-block(src=baseurl+'assets/img/easy.png')
          h3 Easy to use
          p Create calendars in just three simple steps and share them to your audience.
        .col-md-4.text-center
          img.img-responsive.center-block(src=baseurl+'assets/img/manageable.png')
          h3 Manageable
          p See your upcoming appointments. Ask them to make a reschedule. All in a few clicks.
        .col-md-4.text-center
          img.img-responsive.center-block(src=baseurl+'assets/img/integrated.png')
          h3 Integrated
          p You'll never forget your appointments; keep notified with emails in times you see fit.

  section#one
    .container
      .row
        .col-md-6.text-center
          img.img-responsive.center-block(src=baseurl+'assets/img/one.png')
        .col-md-6.text-md-left
          h2 One event, one calendar.
          p A lecturer giving consultation slots? Or an organization member doing recruitment interviews? Create as many calendars as you like for each of your events. All you need to do is tell the app when it will start and end, and you are ready to go.

  section#you
    .container
      .row
        .col-md-6.col-md-offset-3.text-center
          img.img-responsive.center-block(src=baseurl+'assets/img/you.png')
          h2 The focus is you.
          p We know how troublesome it is to put all your agenda into your calendar app, and we believe only you know when you will be free. Appointer makes it easy for you to use only the times you want.

  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        h2 Try it!
        p: a.btn.btn-primary.btn-block.btn-lg(href=baseurl+'sso-login') Login with SSO
        p.text-muted Appointer is currently open only to students and lecturers of Universitas Indonesia. We are expecting great things in the future, so wait for it!

block js
