doctype html
html
  head
    meta(charset='utf-8')
    base(href='/')
    title= title
    link(rel='stylesheet', href=baseurl+'/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href=baseurl+'/css/style.css')
    link(rel='stylesheet', href=baseurl+'/css/calendar.css')
    block css
    style.
        #calendar { height: 500px }
        .selected:hover { cursor: pointer }

  body
    block content

    script(type='text/javascript', src=baseurl+'/vendor/jquery/jquery.min.js')
    script(type='text/javascript', src=baseurl+'/vendor/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src=baseurl+'/vendor/angular/angular.js')
    script(type='text/javascript', src=baseurl+'/vendor/angular/angular-route.js')
    script(type='text/javascript', src=baseurl+'/vendor/floatthead/jquery.floatThead.min.js')
    script(type='text/javascript', src=baseurl+'/vendor/angular/angular-floatThead.js')
    script(type='text/javascript', src=baseurl+'/js/public/app.js')
    script(type='text/javascript', src=baseurl+'/js/public/controllers.js')
    script(type='text/javascript', src=baseurl+'/js/public/services.js')
    script(type='text/javascript', src=baseurl+'/js/public/filters.js')
    block js