ol.breadcrumb
  li: a(href=baseurl+'dashboard') Dashboard
  li.active {{ calendar.title }}

h1 {{ calendar.title }} 
  .dropdown.calendar-menu
    button.btn.btn-default.dropdown-toggle#calendar-menu(type='button', data-toggle='dropdown', aria-expanded='true') Menu 
      span.caret
    ul.dropdown-menu(role='menu', aria-labelledby='calendar-menu')
      li.dropdown-header(role='presentation') Calendar Details
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href=baseurl+'dashboard/{{ calendar.url }}/edit') Edit details
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href=baseurl+'dashboard/{{ calendar.url }}/slots') Manage slots
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#', data-toggle='modal', data-target='#publish-calendar-modal') {{ calendar.published ? 'Unpublish calendar' : 'Publish calendar' }}
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#', data-toggle='modal', data-target='#close-calendar-modal') {{ calendar.closed ? 'Reopen calendar' : 'Close calendar' }}
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#', data-toggle='modal', data-target='#background-modal') Change calendar background
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#', data-toggle='modal', data-target='#custom-notification-modal') Set custom notification
      li.divider(role='presentation')
      li.dropdown-header(role='presentation') Appointments
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href=baseurl+'dashboard/{{ calendar.url }}/appointments') See appointments
      li.divider(role='presentation')
      li.dropdown-header(role='presentation') Danger Zone
      li(role='presentation')
        a(role='menuitem', tabindex='-1', href='#', data-toggle='modal', data-target='#delete-calendar-modal') Delete calendar

.row
  .col-md-4
    h3.sub-header Description
    p {{ calendar.description }}
  .col-md-8
    h3.sub-header Public URL
    p Share this URL to your audience for booking.
    p
      code.url(ng-click="redirectToCalendar(calendar.url)") http://ppl-b02.cs.ui.ac.id#{baseurl}{{ calendar.url }}
    p
      | Share via 
      a.btn.btn-primary.btn-xs(socialshare, socialshare-provider='twitter', socialshare-text='{{ calendar.title }}', socialshare-url='http://ppl-b02.cs.ui.ac.id'+baseurl+'{{ calendar.url }}') Twitter
      |  
      a.btn.btn-primary.btn-xs(socialshare, socialshare-provider='facebook', socialshare-url='http://ppl-b02.cs.ui.ac.id'+baseurl+'{{ calendar.url }}') Facebook

.row
  .col-md-4.details
    h3.sub-header Details
    .row
      p.col-xs-3.col-sm-4: strong Duration
      p.col-xs-9.col-sm-8 {{ calendar.duration }} Minutes
    .row
      p.col-xs-3.col-sm-4: strong Start Date
      p.col-xs-9.col-sm-8 {{ calendar.startDate | date: 'd MMM y' }}
    .row
      p.col-xs-3.col-sm-4: strong End Date
      p.col-xs-9.col-sm-8 {{ calendar.endDate | date: 'd MMM y' }}
    .row
      p.col-xs-3.col-sm-4: strong Status
      p.col-xs-9.col-sm-8 {{ calendar.published ? 'Published' : 'Not published' }}

  .col-md-8.appointments
    h3.sub-header Upcoming Appointments
    table(class='table')
      thead
        tr
          th Date
          th Time
          th Appointment Maker
      tbody
        tr(ng-repeat='appointment in appointments')
          td {{ appointment.date | date: 'd MMM y' }}
          td {{ appointment.time }}
          td {{ appointment.name }}
        tr(ng-if='isLoadedAppointments && !appointments.length')
          td.text-center(colspan=3) No upcoming appointments.
    .loader-container.loader-container-small(ng-if='!isLoadedAppointments')
      .loader.loader-small.text-center
    p: a(href=baseurl+'dashboard/{{ calendar.url }}/appointments') See all appointments

#publish-calendar-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4 {{ calendar.published ? 'Unpublish Calendar' : 'Publish Calendar' }}
      .modal-body
        p You are about to {{ calendar.published ? 'unpublish' : 'publish' }} this calendar. Are you sure?

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='togglePublish($event)') {{ calendar.published ? 'Unpublish' : 'Publish' }}

#close-calendar-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4 {{ calendar.closed ? 'Reopen Calendar' : 'Close Calendar' }}
      .modal-body
        p You are about to {{ calendar.closed ? 'reopen' : 'close' }} this calendar. Are you sure?

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='toggleClose($event)') {{ calendar.closed ? 'Reopen' : 'Close' }}

#background-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4 Change Calendar Background
      .modal-body
        .row.text-center
          .col-md-4(ng-repeat='color in colors')
            .background-select.thumbnail.center-block(style="background:{{ color }};width:120px;height:120px;cursor:pointer;", ng-click="selectColor(color)")
        .hidden.selected-color {{ selectedColor }}

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='changeBackground($event)') Save

#custom-notification-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4 Set Custom Notification
      .modal-body
        form.form-horizontal(name='notificationForm')
          .form-group
            label.col-md-2.control-label Content
            .col-md-6
              textarea.form-control(ng-model='notificationForm.content')
            .col-md-4
              p.text-muted This is a help text

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='changeBackground($event)') Save

#delete-calendar-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4 Delete Calendar
        p You are about to delete this calendar.
      .modal-body
        .form
          .row
            .form-group.col-md-8
              label.control-label Please type the calendar title to make sure.
              input.form-control(ng-model='form.title', ng-change='checkTitle()')

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal', ng-click='cancelDelete()') Cancel
        button.btn.btn-danger.delete-button(type='button', ng-click='delete()', disabled) Delete